#Visualização de Variáveis e Textos

In [5]:
print('Conhecendo o comando print')

x = 7

print(x) # Sem aspas print mostra o dado guardado na variável x
print('x') # Com aspas print mostra a letra x

Conhecendo o comando print
7
x

In [6]:
y = 14
soma = y + x
print(soma)

21

In [13]:
nome = 'Gustavo'
print(nome)

Gustavo

Concatenação

In [10]:
x = 9
print('O valor de x é', x) # forma mais básica de concatenação

O valor de x é 9

In [11]:
print('O valor de x é', x, 'e o dobro do valor é', x * 2)

O valor de x é 9 e o dobro do valor é 18

In [14]:
print('Eu', nome, 'tirei', x, 'na prova de Python')

Eu Gustavo tirei 9 na prova de Python

In [15]:
y = 17; z = 20 - x + y
print('Declarar várias variáveis na mesma linha usando o ;', y, z)

Declarar várias variáveis na mesma linha usando o ; 17 28

In [16]:
print(f'Meu nome é {nome}, eu tenho {y + 5} anos de idade e eu tirei {x} na minha prova') # forma mais moderna e recomendada de concatenação

Meu nome é Gustavo, eu tenho 22 anos de idade e eu tirei 9 na minha prova

Type

* int - São os números inteiros. ex: 1, 2, 3

* float - São os números com casas decimais. ex: 1.23, 12.00, 34.1

* str (string) - São uma sequência de caracteres (letras, números ou símbolos) ex: 'Olá', '1234', 'Meu nome é Gustavo'

* bool (boolean) - Representa valores lógicos, usados para decisões e condições.
Possui apenas dois valores possíveis: true (verdadeiro) ou false (falso) ex: 2 == 2 vai retornar true, 5 != 5 vai retornar false

In [25]:
x = 10
type(x)
print(f'{x} {type(x)}')

nome = 'Gustavo'
print(f'{nome} {type(nome)}')

num = '100'
num_convert = int(num) # Converte a variável num que é uma string para um int
num_float = float(num) # Converte a variável num que é uma string para um float
print(f'{num} {type(num)}')
print(f'{num_convert} {type(num_convert)}')
print(f'{num_float} {type(num_float)}')

10 <class 'int'>
Gustavo <class 'str'>
100 <class 'str'>
100 <class 'int'>
100.0 <class 'float'>

input

* Armazenar informação digitada pelo usuário em uma variável

* O dado armazenado sempre será uma string

In [26]:
nome = input('digite o nome de usuário: ') # Aguarda o usuário digitar algo
print(nome)

digite o nome de usuário: Gustavo
Gustavo

In [28]:
nota = input('Digite a nota: ')
print(f'{nome} sua nota foi {nota}')

Digite a nota: 10
Gustavo sua nota foi 10

In [35]:
valor = input('Digite o valor do produto: ')

valor_convert = float(valor)

desconto = valor_convert - (valor_convert * (5/100)) # utiliza-se parênteses para enfatizar a conta que você quiser

print(f'O valor de {valor} irá receber um desconto de 5% e ficará custando {desconto}')

Digite o valor do produto: 750
O valor de 750 irá receber um desconto de 5% e ficará custando 712.5